* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%; /* 10px */

  --dark-blue: #112437;
  --dark-grey: #484848;
  --primary-blue: #3570ff;
  --second-blue: #3a9ddb;
  --light-blue: #43bcff;
  --green-button: #1dc9a0;
  --white-bg: #f9fafe;
  --light-grey: #f6f7f7;
  --pure-white: #ffffff;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Sora', sans-serif;
}

p {
  font-family: 'DM Sans';
  font-weight: 400;
  color: var(--dark-grey);
  font-size: 1.8rem;
}

header {
  height: 100vh;
}

.container {
  padding: 0 2.3rem;
}

.button {
  padding: 2rem 4rem;
  background-color: var(--primary-blue);
  border-radius: 1rem;
  color: white;
}

.header p {
  margin-top: 3.9rem;
}

.navbar .brand {
  font-size: 2.4rem;
  color: var(--dark-blue);
}

.navbar .brand span {
  color: var(--second-blue);
}

.navbar i {
  font-size: 3rem;
  color: var(--primary-blue);
  font-weight: 800;
}

.header .navbar {
  height: 10rem;

  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #82888f;
}

#home {
  background: url(/assets/map.svg);
  height: 100vh;
  width: 100vw;
}

.headline {
  font-size: 3.2rem;
  font-weight: 800;
  padding-top: 3.9rem;
  background: linear-gradient(99.27deg, var(--dark-blue), var(--second-blue));
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .button {
  margin-top: 3.9rem;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 1.4rem;
}

.arrow-down {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#about {
  display: flex;
  flex-direction: column;
}

#about {
  margin-top: 2rem;
}

.section-title h3 {
  text-transform: uppercase;
  padding-top: 4rem;
}

.section-title p {
  font-family: 'Sora';
  font-size: 2rem;
  color: var(--primary-blue);
  margin: 1rem 0 1rem 0;
  line-height: 2rem;
}

#about .description p {
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

#about img {
  display: flex;
  margin: 0 auto;
  width: 20rem;
}

#about .budget {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2.3rem;
  background: #112437;

  margin-top: 4rem;
}

#about .budget .button {
  background-color: var(--green-button);
  width: 24rem;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
}

#about .budget .budget-title {
  color: #fff;
  font-size: 2.5rem;
}

#services {
  background: var(--light-grey);
  padding-bottom: 4rem;
}

.cards {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

#services .card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background: var(--pure-white);
  border-radius: 1.6rem;
  padding: 2rem 2.6rem;

  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

#services .card .card-title {
  color: var(--dark-blue);
  text-align: center;
  font-size: 1.6rem;
}

#services .card .card-content p {
  font-size: 1.6rem;
  font-family: 'DM Sans';
  text-align: center;
  color: var(--dark-grey);
}

#our-clients .logos {
  margin-top: 4rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#our-clients .logos {
  overflow: hidden;
  white-space: nowrap;

  margin-bottom: 4rem;
}

#our-clients .logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}
#our-clients .logos-slide img {
  margin-left: 1.8rem;
  height: 20.9rem;
}

#our-clients .logos:hover .logos-slide {
  animation-play-state: paused;
}

#contact {
  background-color: var(--light-grey);
  padding-bottom: 4rem;
}

#contact .map-image img {
  max-width: 100%;
}

#contact .back-map {
  background: var(--pure-white);
  padding: 1.9rem 1rem 1rem 1rem;
  margin-top: -1.4rem;

  border-radius: 0 0 1.6rem 1.6rem;

  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

#contact .back-map .desc {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
